*{
    box-sizing: border-box;
}

.div-error{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8rem;

    .error-image{
        height: 25rem;
        width: auto;
    }

    .page-error{
        font-size: 1rem;
        font-family: sans-serif;
        font-weight: lighter;
        color: brown;
    }
}