*{
    box-sizing: border-box;
}

$first-color: rgb(129, 2, 45);
$second-color: rgb(224, 131, 131);

header{
    height: auto;
    width: 100%;
    padding: 0.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $first-color;
    position: fixed; 
    top: 0;

    .logo{
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: bolder;
        color: rgb(255, 255, 255);
        text-decoration: none;

        &hover{
            cursor: pointer;
        }
    }

    .nav{
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    
        .link{
            margin: 1rem;
            font-size: 1.2rem;
            font-family: sans-serif;
            font-weight: lighter;
            color: $second-color;
            text-decoration: none;
        
            &:hover{
                color: rgb(255, 255, 255);
            }
        }
    }

    .menu{
        height: 2rem;
        width: auto;
        filter: invert(1);
        display: none;

        &:hover{
            cursor: pointer;
        }
    }

    .close-menu{
        height: 1.5rem;
        width: auto;
        filter: invert(1);

        &:hover{
            cursor: pointer
        }
    }

    .close-menu-hidden{
        display: none;
    }

    @media (max-width:900px) {
        .menu{
            display:block;
        }
    
        .nav{
            display: none;
        }

        .logo{
            font-size: 2rem;
        }
    }
}

.active-header{
    transition: all 0.5s;
    transform: translateY(0px);
}

.hidden-header{
    transition: all 0.5s;
    transform: translateY(-100px);
}

.nav-responsive{
    height: 0%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $first-color;
    transition: all 0.5s;
}

.nav-responsive-active{
    height: 100%;
}







